@media only screen and (min-device-width: 640px) {
    
    /*---------------- HEADER --------------*/
    
    #flex-headings {
        margin-top: 0vw;
    }

    .navbar {
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .navbar li:first-child { display: none;	}
    
    .navbar li { 
        display: block; 
        flex: 1 1 auto;
    }
        
    nav ul {
        list-style-type: none;
        padding: 0;
        max-width: 100vw; 
    }

    nav li a {   
        color: #58595B;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
        
    #head-image {
        max-width: 15vw;
        margin-left: 25vw;
        margin-right: 0;
        margin-top: 2.5vw;
    }

    #head-title {
        margin-top: 2.5vw;
    }
    
    header h1 {
        font-size: 4.5vw;
        margin: 1.0rem;
    }

    .motto {
        font-size: 2.5vw;
    }
    
    /*------------ MAIN --------------*/
    
    main { 
        width: 90vw; 
        margin: 0 auto;
    }
   
    main figure.hero a img {
        width: 45vw;
        margin: 0 auto;
    }
  
    .summary {
        width: 35%;
        font-size: 17px;
        top: 15px;
        left: 15px;
        font-size: .9rem;
        line-height: 1.7rem;
    }
    
    img.weather-graphic {
        max-width: 50vw;
        height: auto;
        padding: .5rem;
    }
   
    img.story-cover {
        width: 100%;
        height: auto;
        padding: .5rem;
    }

    .formcontainer {
        width: 80%;
        margin-top: 5vw;
    }

    .servicesContainer h3 {
        text-align: center;
    }

    .servicesContainer a img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .servicesContainer ul{
        margin-left: 0vw;
    }

    .servicesContainer img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .servicesContainer {
        margin: 1rem auto; 
        display:grid;
        justify-self: center;
        grid-template-columns: 1fr 1fr; 
        max-width: 80vw;
        text-align: left;
        grid-gap: 60px;
    }

    .longtermContainer h3 {
        text-align: center;
    }

    .longtermContainer a img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .longtermContainer ul{
        margin-left: 0vw;
    }

    .longtermContainer img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .longtermContainer {
        /*margin: 1rem auto;*/ 
        display:grid;
        /*justify-self: center;*/
        grid-template-columns: 1fr 1fr; 
        max-width: 80vw;
        /*text-align: left;*/
        grid-gap: 60px;
    }
   
    .container {
        margin: 1rem auto; 
        display:grid; 
        grid-template-columns: 1fr 1fr; 
        max-width: 1048px;
    }
        
    .container > div {
        width: 35vw;
        justify-self: center;
        padding: 1em;
    }
        
    img.gallery1 { 
        max-width: 30vw; 
        height: auto; 
        margin: .5rem;
    }

    .day {
        background-color: #FF8200;
        font-size: 1.5vw;
        font-weight: 700;
        box-shadow: 0 0 10px #58595B;
    }

    .temples {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row {
        display: flex;
    }

    .cell {
        flex: 1 1 auto;
        display: flex;
        width: 100%;
        max-height: 50%;
        margin: 0 auto;
        padding: 10px;
        box-sizing: content-box;
        align-self: flex-start;
        align-items: flex-start;
    }

    .cell img {
        width: 100%;
        max-height: 100%;
    }
/*
    .temples article {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 0 25px #58595B;
    }*/
/*
    .temples img{
        width: 100%;
        max-height: 100%;
    }
  */   
    /*------------ FOOTER --------------*/
    
    .templeMainFooter {
        margin-top: 50px;
    }

    footer {
        padding-bottom: 3.0rem;
    }
    
    .h_iframe {
        position: relative;
        padding-top:50%;
    }
        
    .h_iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
        
    .footer-upper { 
        width:80vw;
        margin: 0 auto;

    }
    .footer-lower { 
        width:80vw;
        margin: 0 auto;
    }  
}